<?xml version="1.0"?>
<!--
/**
 * Customer Profile Avatar
 * 
 * @author Magenuts Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Magenuts_Avatar" setup_version="0.2.0"></module>
</config>